
@inherits LayoutComponentBase



@* @page "/"
<Background />
<div class="app-shell">
    <NavMenu />
    <Hero />
    <Portfolio />
    <Services />
    <Contact />
    <Footer />
</div> *@

<Background />
<div class="app-shell">
    <NavMenu />
    @Body
</div>
