<header class="header">
    <div class="logo">GLITCH</div>
    <nav>
        <ul>
            <li><NavLink href="/">Home</NavLink></li>
            <li><NavLink href="/portfolio">Portfolio</NavLink></li>
            <li><NavLink href="/services">Service</NavLink></li>
            <li><NavLink href="/about">About</NavLink></li>
            <li><NavLink href="/career">Career</NavLink></li>
            <li><NavLink href="/contact">Contact</NavLink></li>
        </ul>
    </nav>
</header>

